mixin card-arrivals(obj)
    .card-arrivals
        .card-arrivals__inner 
            .card-arrivals__img
                img(src=require(obj.img))
            if obj.sale
                .card-arrivals__sale-badge 
                    p -#{obj.sale}%
            .card-arrivals__rating 
                if obj.rating
                    -for(let i = 0; i < 5; i++)
                        if(obj.rating > i)
                            p.card-arrivals__star-fill.icon-star_fill
                        else
                            p.card-arrivals__star.icon-star
            .card-arrivals__wishlist 
                button.card-arrivals__wishlist-button.icon-heart
        .card-arrivals__title 
            p=obj.title
        .card-arrivals__price 
            p $#{obj.price}
        if obj.sale
            .card-arrivals__price-red
                p $#{obj.price}
            .card-arrivals__old-price 
                p=obj.oldPrice