include ../title/title.pug
include ../button/button.pug
mixin megamenu(obj)
    div(class=`megamenu megamenu-${obj.link}`)
        .megamenu__content
            .megamenu__inner
                .megamenu__categories
                    a.megamenu__link._megamenu-link-gray(href="#") New collection
                    a.megamenu__link._megamenu-link-gray(href="#") Best Sellers
                    a.megamenu__link._megamenu-link-gray(href="#") Plus Size
                    a.megamenu__link._megamenu-link-sale(href="#") Sale up to 70%
                .megamenu__clothes
                    .megamenu__title
                        +title({'tag': 'h3', 'color': 'black', 'title': 'CLOTHES'})
                    each val in obj.clothes
                        a.megamenu__link._megamenu-link-gray(href=val.href)=val.title
                .megamenu__shoes 
                    .megamenu__title
                        +title({'tag': 'h3', 'color': 'black', 'title': 'SHOES'})
                    each val in obj.shoes
                        a.megamenu__link._megamenu-link-gray(href=val.href)=val.title
                .megamenu__accessories
                    .megamenu__title 
                        +title({'tag': 'h3', 'color': 'black', 'title': 'ACCESSORIES'})
                    each val in obj.accessories
                        a.megamenu__link._megamenu-link-gray(href=val.href)=val.title
            .megamenu__divider
            .megamenu__banner
                img.megamenu__banner-img(src=require('../../../img/menu-banner.png'), alt="menu-banner")
                p.megamenu__banner-text Back to school. Sale up to 50%
                .megamenu__banner-button
                    +button({'title': 'See offers', 'href': '#', 'style': 'empty', 'icon': 'arrow', 'size': 'small'})