mixin img-link(obj)
    -let imgLinkClassImg='img-link__link-default';
    -let imgLinkClassTitle='';
    if obj.circle
        -imgLinkClassImg='_circle';
        -imgLinkClassTitle='_gray900';
    .img-link 
        a(class=`img-link__link `+imgLinkClassImg href=obj.href)
            img.img-link__img(src=require(obj.img) alt=obj.title)
            p(class=`img-link__title `+imgLinkClassTitle)=obj.title