extends ../../layout/layout.pug

block variables
    - var pageTitle = 'Homepage'
    - var keywords = 'Homepage Createx'
    - var linkStyle = './index/index.scss'

include ../../components/title/title.pug
include ../../components/button/button.pug
include ../../components/img-link/img-link.pug
include ../../components/banner/banner.pug

block content 
    main.wrapper 
        section.main-slide
            .main-slide__hero-slide
                include ../../components/hero-slide/hero-slide.pug
            .main-slide__top-categories
                +img-link({
                    'img': '../../../img/women.png',
                    'href': '#',
                    'title': 'Women’s'
                })
                +img-link({
                    'img': '../../../img/men.png',
                    'href': '#',
                    'title': 'Men’s'
                })
                +img-link({
                    'img': '../../../img/kid.png',
                    'href': '#',
                    'title': 'Kids’'
                })
        section.new-arrivals 
            +title('New arrivals')
            p.new-arrivals__text Check out our latest arrivals for the upcoming season
            a.new-arrivals__link(href='#') See the collection here
            .new-arrivals__carousel
                include ../../components/carousel-arrivals/carousel-arrivals.pug
        section.banners
            +banner({
                'topTitle': 'Summer Collections',
                'title': 'Sale Up to 70%',
                'button': 'Explore new prices',
                'img': 'banner-1'
            })
            +banner({
                'topTitle': 'Deal of the week',
                'title': 'Stay Warm With Our New Sweaters',
                'button': 'Shop now',
                'img': 'banner-2',
                'limited': '2023-06-30T15:00'
            })
            +banner({
                'topTitle': 'New collection',
                'title': 'Shoes & Bags autumn / winter 2020',
                'button': 'See offers',
                'arrow': 'true',
                'img': 'banner-3'
            })
            +banner({
                'topTitle': 'For All new Email Subscribers',
                'title': 'Get 5% Off & Free Delivery',
                'input': 'true'
            })
        section.popular-categories
            +title('Popular categories')
            .popular-categories__list 
                +img-link({
                    'img': '../../../img/pc-tops.png',
                    'href': '#',
                    'title': 'Tops',
                    'circle': 'true'
                })
                +img-link({
                    'img': '../../../img/pc-tshirts.png',
                    'href': '#',
                    'title': 'T-shirts',
                    'circle': 'true'
                })
                +img-link({
                    'img': '../../../img/pc-caps.png',
                    'href': '#',
                    'title': 'Caps',
                    'circle': 'true'
                })
                +img-link({
                    'img': '../../../img/pc-sandals.png',
                    'href': '#',
                    'title': 'Sandals',
                    'circle': 'true'
                })
                +img-link({
                    'img': '../../../img/pc-jackets.png',
                    'href': '#',
                    'title': 'Jackets',
                    'circle': 'true'
                })
                +img-link({
                    'img': '../../../img/pc-coats.png',
                    'href': '#',
                    'title': 'Coats',
                    'circle': 'true'
                })
        section.trending-now 
            .trending-now__title
                +title('Trending now')
            .trending-now__carousel
                include ../../components/carousel-trending/carousel-trending.pug 
            .trending-now__link 
                +button({
                    'title': 'Explore top sales',
                    'href': '#',
                    'style': 'empty',
                })
    script(src=require("../../components/hero-slide/hero-slide.js"))  
    script(src=require("../../components/carousel-arrivals/carousel-arrivals.js")) 
    script(src=require("../../components/banner/banner.js")) 
    script(src=require("../../components/carousel-trending/carousel-trending.js"))  
    script(src=require("../../components/card-product/card-product.js"))