extends ../../layout/layout.pug

block variables
    - var pageTitle = 'Createx'
    - var keywords = 'Homepage Createx'
    - var linkStyle = './index/index.scss'

include ../../components/title/title.pug
include ../../components/button/button.pug
include ../../components/img-link/img-link.pug
include ../../components/banner/banner.pug
include ../../components/icon-box/icon-box.pug
include ../../components/blog-card/blog-card.pug

block content 
    main.wrapper 
        section.main-slide
            .main-slide__hero-slide
                include ../../components/hero-slide/hero-slide.pug
            .main-slide__top-categories
                +img-link({
                    'img': '../../../img/women.png',
                    'href': '#',
                    'title': 'Women’s'
                })
                +img-link({
                    'img': '../../../img/men.png',
                    'href': '#',
                    'title': 'Men’s'
                })
                +img-link({
                    'img': '../../../img/kid.png',
                    'href': '#',
                    'title': 'Kids’'
                })
        section.new-arrivals 
            +title({
                    'tag': 'h2',
                    'title': 'New arrivals'
                })
            p.new-arrivals__text Check out our latest arrivals for the upcoming season
            a.new-arrivals__link(href='#') See the collection here
            .new-arrivals__carousel
                include ../../components/carousel-arrivals/carousel-arrivals.pug
        section.banners
            +banner({
                'topTitle': 'Summer Collections',
                'title': 'Sale Up to 70%',
                'button': 'Explore new prices',
                'img': 'banner-1'
            })
            +banner({
                'topTitle': 'Deal of the week',
                'title': 'Stay Warm With Our New Sweaters',
                'button': 'Shop now',
                'img': 'banner-2',
                'limited': '2023-08-30T15:00'
            })
            +banner({
                'topTitle': 'New collection',
                'title': 'Shoes & Bags autumn / winter 2020',
                'button': 'See offers',
                'arrow': 'true',
                'img': 'banner-3'
            })
            +banner({
                'topTitle': 'For All new Email Subscribers',
                'title': 'Get 5% Off & Free Delivery',
                'input': 'true'
            })
        section.popular-categories
            +title({
                    'tag': 'h2',
                    'title': 'Popular categories'
                })
            .popular-categories__list 
                +img-link({
                    'img': '../../../img/pc-tops.png',
                    'href': '#',
                    'title': 'Tops',
                    'circle': 'true'
                })
                +img-link({
                    'img': '../../../img/pc-tshirts.png',
                    'href': '#',
                    'title': 'T-shirts',
                    'circle': 'true'
                })
                +img-link({
                    'img': '../../../img/pc-caps.png',
                    'href': '#',
                    'title': 'Caps',
                    'circle': 'true'
                })
                +img-link({
                    'img': '../../../img/pc-sandals.png',
                    'href': '#',
                    'title': 'Sandals',
                    'circle': 'true'
                })
                +img-link({
                    'img': '../../../img/pc-jackets.png',
                    'href': '#',
                    'title': 'Jackets',
                    'circle': 'true'
                })
                +img-link({
                    'img': '../../../img/pc-coats.png',
                    'href': '#',
                    'title': 'Coats',
                    'circle': 'true'
                })
        section.trending-now 
            .trending-now__title
                +title({
                    'tag': 'h2',
                    'title': 'Trending now'
                })
            .trending-now__carousel
                include ../../components/carousel-trending/carousel-trending.pug 
            .trending-now__link 
                +button({
                    'title': 'Explore top sales',
                    'href': '#',
                    'style': 'empty',
                    'size': 'large',
                })
        section.sale
            .sale__title
                +title({
                    'tag': 'h2',
                    'title': 'Sale up to 70%'
                })
            .sale__carousel
                include ../../components/carousel-sale/carousel-sale.pug 
            .sale__link 
                +button({
                    'title': 'See all sale products',
                    'href': '#',
                    'style': 'empty',
                    'size': 'large',
                })
        section.mobile-app 
            .mobile-app__block-white
            .mobile-app__img 
                img(src=require("../../../img/mobile-app.svg"), alt="")
            .mobile-app__inner
                .mobile-app__title Enjoy mobile shopping with our Createx Store App!
                .mobile-app__button 
                    a.mobile-app__app-store(href="#")
                        img(src=require("../../../img/app-store.svg"), alt="")
                    a.mobile-app__google-play(href="#")  
                        img(src=require("../../../img/google-play.svg"), alt="")
        section.services
            +icon-box({
                'img': 'ic-delivery.svg',
                'title': 'Fast Worldwide Shipping',
                'text': 'Get free shipping over $250'
            })
            .services__divider
            +icon-box({
                'img': 'ic-call-center.svg',
                'title': '24/7 Customer Support',
                'text': 'Friendly 24/7 customer support'
            })
            .services__divider
            +icon-box({
                'img': 'ic-shield.svg',
                'title': 'Money Back Guarantee',
                'text': 'We return money within 30 days'
            })
            .services__divider
            +icon-box({
                'img': 'ic-credit-card.svg',
                'title': 'Secure Online Payment',
                'text': 'Accept all major credit cards'
            })
        section.insta-block 
            .insta-block__inner
                .insta-block__inner_top-title Follow us on Instagram
                .insta-block__inner_title @createx_store
                .insta-block__inner_link 
                    +button({
                        'title': 'Follow instagram',
                        'href': '#',
                        'style': 'empty',
                        'size': 'large', 
                    })
            .insta-block__img
                img(src=require('../../../img/inst-men.png'), alt="men")
                img(src=require('../../../img/inst-boots.png'), alt="boots")
                img(src=require('../../../img/inst-kid.png'), alt="kid")
        section.fashion-block
            .fashion-block__inner
                .fashion-block__inner_title 
                    +title({
                        'tag': 'h2',
                        'title': 'Fashion blog'
                    })
                .fashion-block__inner_link
                    +button({
                        'title': 'View blog',
                        'href': '#',
                        'style': 'empty',
                        'size': 'large',
                    })
            .fashion-block__list
                +blog-card({
                    'img': 'fashion-blog.png',
                    'title': 'Bag Trends for Summer 2020',
                    'link': '#',
                    'section': 'Fashion',
                    'dateOfCreation': 'August 24, 2020',
                    'coments': '0',
                    'briefInformation': 'Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis...'
                })
                +blog-card({
                    'img': 'lifestyle-blog.png',
                    'title': 'Top 10 of This Season’s Hottest Sneakers',
                    'link': '#',
                    'section': 'Lifestyle',
                    'dateOfCreation': 'July 16, 2020',
                    'coments': '4',
                    'briefInformation': 'Porta habitant vitae quam interdum. Leo viverra non volutpat rhoncus placerat vitae scelerisque. Rhoncus augue faucibus maecenas lacus...'
                })
        section.brands
            img(src=require('../../../img/InDepthLogo.svg'), alt="")
            img(src=require('../../../img/HigherFitLogo.svg'), alt="")
            img(src=require('../../../img/SentinalConsultingLogo.svg'), alt="")
            img(src=require('../../../img/NationalHealthLogo.svg'), alt="")
            img(src=require('../../../img/ForSaleLogo.svg'), alt="")
            img(src=require('../../../img/DelMarStrategyLogo.svg'), alt="")
        section.subscribe-for-updates
            include ../../components/subscribe/subscribe.pug
    script(src=require("../../components/hero-slide/hero-slide.js"))  
    script(src=require("../../components/carousel-arrivals/carousel-arrivals.js")) 
    script(src=require("../../components/banner/banner.js")) 
    script(src=require("../../components/carousel-trending/carousel-trending.js"))  
    script(src=require("../../components/carousel-sale/carousel-sale.js")) 
    script(src=require("../../components/card-product/card-product.js"))
    script(src=require("../../components/subscribe/subscribe.js"))